.vert
{
  color: #84AC67;
}

.rose
{
  color: #FEAC97;
}

.blanc
{
  color: #F0F2E7;
}

.bgblanc
{
  background-color: #F0F2E7;
}

.bgvert
{
  background-color: #84AC67;
}
.btn
{
		border:2px solid #FEAC97;
		border-radius: 1.5rem;
		color: #FEAC97;
}
  
.lien
{
  color:#FEAC97 !important;
}

.logo-navbar
{
  width: 60px;
}

.ratio
{
  height: ;
}