
/* couleurs
https://www.design-seeds.com/seasons/summer/fresh-hues-23/ 
*/
.vert
{
  color: #84AC67;
}

.rose
{
  color: #FEAC97;
}

.blanc
{
  color: #F0F2E7;
}

.bgblanc
{
  background-color: #F0F2E7;
}

.bgvert
{
  background-color: #84AC67;
}
.btn
{
		border:2px solid #FEAC97;
		border-radius: 1.5rem;
		color: #FEAC97;
}
  
.lien
{
  color:#FEAC97 !important;
}

.logo-navbar
{
  width: 60px;
}

.titreAdmin
{
  text-align: center !important;
}

.fixed-table-body
{
  height: auto !important;
}

.dotless-ul
{
  list-style-type: none;
}


/*
style tui calendar
*/
.tui-full-calendar-weekday-schedule-bullet
{
  display: none;
}
.tui-full-calendar-weekday-schedule-title
{
  background-color: #84AC67;
  color: #ffffff !important;
  border-radius: 5%;
}
.tui-full-calendar-weekday-schedules
{
  font-size: 16px !important;
}